header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo{
    flex-direction: column;
    line-height: 10px;
}

#title{
    flex-direction: column;
    line-height: 10px;
}
