@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
}

:root{
    --russian-violet: #10002bff;
    --russian-violet-2: #240046ff;
    --persian-indigo: #3c096cff;
    --tekhelet: #5a189aff;
    --french-violet: #7b2cbfff;
    --amethyst: #9d4eddff;
    --heliotrope: #c77dffff;
    --mauve: #e0aaffff;
    --preto: #000;
    --branco: #fff;
    --cinza-fosco: #3b3c3c;
    --fonte-titulo: "Ubuntu", sans-serif;
    --fonte-texto:"Nunito", sans-serif;
}

header{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--preto);
    
}

.cabecalho-logo{
    display: flex;
    align-items: center;
}

.logo{
    width: 14%;
}

.title{
    flex-direction: column;
    color: var(--branco);
    margin-left: 1.5em;
}