@import url('cabecalho.css');
@import url('rod');

body {
    font-family: var(--fonte-texto);
    text-align: center;
    background-color: var(--cinza-fosco);
    color: var(--branco);
    margin: 0 auto;
    
}

main {
    display: flex;
    flex-direction: row;
    margin: 50px;
    justify-content: space-around;
    margin-top: 85px;
}

h2 {
    font-size: 30px;
    line-height: 50px;
    font-family: var(--fonte-titulo);
    
}


span {
    color: var(--ametista);
}

p {
    line-height: 25px;
    max-width: 500px;
    font-family: var(--fonte-texto);
    margin-left: 30px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin: 0 auto;
    font-size: 1.2rem;
}

img{
    width: 520px;
    margin-left: 70px;
}
